/*!
 * Color Admin v4.6.0 (https://seantheme.com/color-admin/)
 * Copyright 2020 SeanTheme
 */

@import 'functions';
@import 'variables';
@import 'mixins';
@import 'reboot';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'app';
@import 'layout';
@import 'ui';
@import 'plugins';
@import 'helper';
//@import "node_modules/react-bootstrap";

.modal-body {
  width: 95% !important;
}

.modal-body div {
   animation-duration: 0ms;
}
#console {
  height: 322px
}
.panel-inverse .dropdown-menu {
  display: block;
  position: relative;
  top: -10px;
  left: 26%;
  font-size: 0.6875rem;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 0 solid rgba(138, 36, 36, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 262px;
}

.modalSelect {
  width: 60%;
}

.create-order-main {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.address-detail {
  display: flex;
  justify-content: space-around;
}

//.fade {
//  opacity: 0;
//  -webkit-transition: opacity 0.15s linear;
//  -o-transition: opacity 0.15s linear;
//  transition: opacity 0.15s linear;
//}
//.fade.in {
//  opacity: 1;
//}

.disable-pointer {
  cursor: no-drop !important;
}
